.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
}
.grid-item:nth-child(1) {
  grid-column-start: 1;
  grid-column-end: 3;
  background-color: tomato;
}
.grid-item:nth-child(2) {
  grid-column-start: 3;
  grid-column-end: 4;
  background-color: brown;
}
.grid-item:nth-child(3) {
  grid-row-start: 2;
  grid-row-end: 4;
  background-color: orange;
}
.grid-item:nth-child(4) {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 4;
  background-color: royalblue;
}